<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>CleverPush</title>
  </head>

  <body>
    <h1>
      Die richtige Nachricht zur richtigen Zeit an die richtige Zielgruppe.
    </h1>
    <p>
      Maximale Aufmerksamkeit, maximaler Gewinn – mit uns erreichen Sie Ihre
      Zielgruppe in jeglicher Weise und auf intelligentem Weg.
    </p>
  </body>

  <footer>Copyright © 2022 CleverPush</footer>
</html>
